
*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    overflow-x: hidden;
    
}


.home-page img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
  margin: 0 0 40px 0;
 
 
}
.cris{
    width: 100%;
    margin:0 auto;
    justify-content: space-between;
    display: inline-block;
    align-items: end;
    padding: 0 59px;
}
.cris ul  li {
    list-style-type: none;
    margin:0 10px;
    position: relative;
    display: inline-block;
    align-items: end;
}
.cris ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.size{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

}


.title{
    position: absolute;
    top: 200px;
    left: 200px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}





.detail{
    margin: 30px 30px;
}

@media only screen and (max-width: 768px) {
    .grid-area {
        grid-template-columns: 1fr;
    }
}



.area {
    display: flex;
    flex-direction: column;
    gap: .3em;
    align-items: start;
    justify-content: center;
    padding: 0 4% 0 4%;
}
@media only screen and (max-width: 768px){
    .grid-area{
        grid-template-columns: 1.3fr 1fr;
    }
}
    .container{
        width: 100%;
       
    }
    .container-1{
    margin-top: 40px;
    text-align: end;
    }

    .card {
        border: none!important;
    }
    .img{
       width:50%;
       height: 20vh;
       margin: 0 0 40px 0;
       
    }
    .container-2{
        margin-top: 20px;
    }
    .container-3{
        margin-top: 40px;
    }
    .tex{
        margin-top: 40px;
    }
    .container-4{
text-align: left;
margin-top: 40px;
    }
.container-5{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: blanchedalmond;
}
    .container-7{
        text-align: center;
        color: white;
    }
    .container-8{
        text-align: left;
    }
    .container-9{
        text-align: left;
    }
    .container{
        margin-top: 40px;
    }
    .container-n{
        margin-top: 40px;
    }
    .conterner-t{
        text-align: end;
    }
    .container-r{
        text-align: left;
        margin-top: 40px;
    }
    .container-y{
        text-align: end;
    }
    .container-i{
        margin-top: 40px;
    }
    
        
    .button{
        text-align: center;
        margin-top: 50px;
        color: blueviolet;
    }
    .container-g{
        margin-top: 100px;
    }
    .container-o{
        margin-top: 100px;
        text-align: center;
        color: blueviolet;
    }
    header{
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./nathan-cima-94sKS1zJH7U-unsplash.jpg) no-repeat center center;
        /* background: ; */
        background-size: cover;
        color: white;
        height: 60vh;
        margin-top: 70px;
       /* filter: brightness(40%); */
    }

    .color-overlay{
        min-height: 60vh;
        
    }
    .color-overlay{
    width: 50%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    }